<footer class="footer">
    <div class="container">

        <div class="col-sm-4">
            <h4>About Me</h4>
        </div>
        <div class="col-sm-4">
            <h4>Navigation</h4>
        </div>
        <div class="col-sm-4">
            <h4>Find Me On...</h4>
        </div>
    </div>
</footer>
