html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 250px; }

nav .input-group {
  margin: 10px auto; }

nav .dropdown-menu {
  width: 250px; }
  nav .dropdown-menu button {
    margin: 10px; }

.form-register {
  max-width: 350px;
  margin: 0 auto; }
  .form-register .form-control {
    border-radius: 0;
    border-bottom: 1px solid #ccc; }
  .form-register button {
    border-radius: 0;
    margin-top: 10px; }

.main-alert {
  max-width: 400px;
  margin: 10px auto; }

.alert-hidden {
  visibility: hidden; }

.footer {
  position: absolute;
  bottom: 0;
  height: 250px;
  background-color: #182838;
  width: 100%;
  padding-top: 25px; }
