<div class="container">
    <form ng-submit="vm.submit(vm.user)"name="registrationForm" class="form-register" novalidate>
        <h1 class="form-register-heading text-muted">Register</h1>

        <input type="text" name="username"
               class="form-control" placeholder="Username" ng-model="vm.user.username"
               required autofocus>

        <div class="help-block" ng-messages="registrationForm.username.$error"
             ng-show="registrationForm.username.$touched">
            <div ng-messages-include="app/register/messages.html"></div>
        </div>

        <input type="password" name="password"
               class="form-control" placeholder="Password" ng-model="vm.user.password"
               ng-minlength="4" required>

        <div ng-messages="registrationForm.password.$error"
             ng-show="registrationForm.password.$touched">
            <div ng-messages-include="app/register/messages.html"></div>
        </div>

        <input type="password" name="confirmPassword"
               class="form-control" placeholder="Confirm Password" ng-model="vm.user.confirmPassword"
               compare-to="vm.user.password">

        <div ng-messages="registrationForm.confirmPassword.$error"
             ng-show="registrationForm.confirmPassword.$touched">
            <div ng-messages-include="app/register/messages.html"></div>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fa fa-plus"></i> Submit</button>

    </form>
</div>
