<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head.ejs %>
</head>

<body ng-app="app">
    <% include ./partials/navbar.ejs %>
    <div class="row">
        <div class="ui-view-container">
            <div ng-view=""></div>
        </div>
    </div>
    <% include ./partials/alert.ejs %>

    <% include ./partials/footer.ejs %>
    <% include ./partials/scripts.ejs %>
</body>

</html>
