<div class="container">
    <form ng-submit="vm.addCoffee(vm.newCoffee)" name="addCoffeeForm" class="form-addCoffee" novalidate>
        <h1 class="text-muted">Add Coffee to the Mess</h1>

        <input type="text" name="coffeeName"
               class="form-control" placeholder="Coffee Name..." ng-model="vm.newCoffee.name"
               required autofocus>

        <input type="text" name="coffeeType"
               class="form-control" placeholder="Coffee Type..." ng-model="vm.newCoffee.type"
               required >

        <input type="number" name="wholeBeanWeight"
               class="form-control" placeholder="Whole Bean Weight (oz)"
               ng-model="vm.newCoffee.weightWholeBean" min="0">

        <input type="number" name="groundWeight"
               class="form-control" placeholder="Ground Weight (oz)"
               ng-model="vm.newCoffee.weightGround" min="0">

        <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fa fa-plus"></i> Add Coffee</button>
<!--
        <input type="text" name="username"
               class="form-control" placeholder="Username" ng-model="vm.user.username"
               required autofocus>

        <div ng-messages="registrationForm.username.$error"
             ng-show="registrationForm.username.$touched">
            <div ng-messages-include="app/register/messages.html"></div>
        </div>

        <input type="password" name="password"
               class="form-control" placeholder="Password" ng-model="vm.user.password"
               ng-minlength="4" required>

        <div ng-messages="registrationForm.password.$error"
             ng-show="registrationForm.password.$touched">
            <div ng-messages-include="app/register/messages.html"></div>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fa fa-sign-in"></i> Login</button>
        <p class="text-muted text-center top-margin">Or login with any of the below services</p>
        <button ng-click="vm.authenticate('google')" class="btn btn-lg btn-default btn-block" type="button"><i class="fa fa-google"></i> Google</button>
        <button ng-click="vm.authenticate('facebook')" class="btn btn-lg btn-info btn-block" type="button"><i class="fa fa-facebook"></i> Facebook</button>

        <a href="/register">Don't have an account?</a>
        -->

    </form>
</div>