$footer_height: 250px;
$footer_bg_color: #aaa;

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: $footer_height;
}

nav {
    .input-group {
        margin: 10px;
    }

    .dropdown-menu {
        width: 250px;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    height: $footer_height;
    background-color: $footer_bg_color;
    width: 100%;
    padding-top: 25px;
}
