$footer_height: 250px;
$footer_bg_color: #375a7f;

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: $footer_height;
}

nav {
    .input-group {
        margin: 10px auto;
    }

    .dropdown-menu {
        width: 250px;
        button {
            margin: 10px;
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    height: $footer_height;
    background-color: darken($footer_bg_color, 20%);
    width: 100%;
    padding-top: 25px;
}
